In [4]:
import pandas as pd

In [5]:
mydata0 = pd.read_csv("BigCommerce-US.csv")

In [6]:
print(mydata0)

                          Domain                       Location on Site  \
0                       1ink.com                               1ink.com
1                 22mods4all.com                         22mods4all.com
2                      4moms.com  shop.4moms.com;staging-shop.4moms.com
3          backcountryaccess.com           secure.backcountryaccess.com
4             badgleymischka.com                     badgleymischka.com
...                          ...                                    ...
39701      torresomarjewelry.com                  torresomarjewelry.com
39702         toshioclothing.com                     toshioclothing.com
39703        toshiocreations.com                    toshiocreations.com
39704  totalnutritionflorida.com              totalnutritionflorida.com
39705       totalpartscanada.com                   totalpartscanada.com

      Tech Spend USD Sales Revenue USD                    Company  \
0               $500            $57879   Paragon Solution Network
1               $500            $49054             22Mods4All Inc
2              $5000           $714454                      4moms
3              $1000           $194501      Backcountry Access EU
4              $2000           $261536         ICONIX BRAND Group
...              ...               ...                        ...
39701           $250            $33192                        NaN
39702           $250            $24299                     Toshio
39703           $250            $24299                        NaN
39704           $100            $17015                        NaN
39705          $2000           $140360  Total Power Solutions Inc

                       Vertical          Tranco         Page Rank  \
0       Business And Industrial           26194           5690723
1       Business And Industrial           57803          19270643
2      Technology And Computing           61764            635335
3      Technology And Computing           82130            605129
4             Style And Fashion           44533            346122
...                         ...             ...               ...
39701         Style And Fashion  Outside Top 1m          44866611
39702                       NaN  Outside Top 1m  Outside Top 100m
39703                       NaN  Outside Top 1m  Outside Top 100m
39704   Business And Industrial  Outside Top 1m  Outside Top 100m
39705   Automotive And Vehicles  Outside Top 1m          55490338

             Majestic        Umbrella  ...              City     State    Zip  \
0              590301  Outside Top 1m  ...           Burbank        CA  91504
1      Outside Top 1m  Outside Top 1m  ...          Longwood        FL  32750
2               93332  Outside Top 1m  ...        Pittsburgh        PA  15222
3              170557          191175  ...           Boulder  Colorado  80301
4               49422  Outside Top 1m  ...  Huntington Beach        CA  92649
...               ...             ...  ...               ...       ...    ...
39701  Outside Top 1m  Outside Top 1m  ...           Chicago        IL  60647
39702  Outside Top 1m  Outside Top 1m  ...            Kahuku        HI  96731
39703  Outside Top 1m  Outside Top 1m  ...               NaN       NaN    NaN
39704  Outside Top 1m  Outside Top 1m  ...        Wellington        FL  33414
39705  Outside Top 1m  Outside Top 1m  ...         Kingsport        TN    NaN

      Country First Detected  Last Found First Indexed Last Indexed Exclusion  \
0          US     2015-10-12  2021-08-02    2011-01-03   2021-08-02         -
1          US     2019-02-03  2021-08-03    2013-05-21   2021-08-03         -
2          US     2015-05-05  2021-07-25    2003-09-25   2021-08-02         -
3          US     2021-01-21  2021-06-12    2013-01-31   2021-07-31         -
4          US     2019-05-11  2021-08-02    2011-01-03   2021-08-02         -
...       ...            ...         ...           ...          ...       ...
39701      US     2016-07-28  2021-07-31    2013-01-31   2021-07-31         -
39702      US     2013-12-15  2021-06-07    2013-02-28   2021-06-07         -
39703     NaN     2021-07-20  2021-07-30    2021-07-20   2021-08-03         -
39704      US     2020-12-14  2021-07-30    2017-07-29   2021-07-30         -
39705      US     2016-12-27  2021-07-30    2015-11-25   2021-07-30         -

            Compliance
0      California CCPA
1                    -
2                    -
3                    -
4      California CCPA
...                ...
39701                -
39702                -
39703                -
39704                -
39705                -

[39706 rows x 34 columns]

In [6]:
 
# creating a list of column names by
# calling the .columns
list_of_column_names = list(mydata0.columns)
 
# displaying the list of column names
print('List of column names : ',
      list_of_column_names)

List of column names :  ['Domain', 'Location on Site', 'Tech Spend USD', 'Sales Revenue USD', 'Company', 'Vertical', 'Tranco', 'Page Rank', 'Majestic', 'Umbrella', 'Telephones', 'Emails', 'Twitter', 'Facebook', 'LinkedIn', 'Google', 'Pinterest', 'GitHub', 'Instagram', 'Vk', 'Vimeo', 'Youtube', 'TikTok', 'People', 'City', 'State', 'Zip', 'Country', 'First Detected', 'Last Found', 'First Indexed', 'Last Indexed', 'Exclusion', 'Compliance']

In [10]:
#sorting
a = mydata0['Vertical'].unique()
print(a)
print(len(a))

['Business And Industrial' 'Technology And Computing' 'Style And Fashion'
 'Sports' 'Art And Entertainment' 'Home And Garden'
 'Automotive And Vehicles' 'Education' 'Food And Drink' 'Shopping' nan
 'Health And Fitness' 'Careers' 'Law  Govt And Politics' 'Science'
 'Hobbies And Interests' 'Travel' 'Religion And Spirituality' 'Finance'
 'Real Estate' 'Family And Parenting' 'Pets' 'Society' 'Adult']
24

In [11]:
allver= mydata0['Vertical'].value_counts();
print(allver)
total_ver = len(mydata0['Vertical'].value_counts())
print('total: ',total_ver)

Business And Industrial      6327
Style And Fashion            6155
Technology And Computing     3674
Food And Drink               2660
Automotive And Vehicles      2513
Art And Entertainment        2394
Home And Garden              1646
Sports                       1452
Shopping                     1145
Health And Fitness            864
Law  Govt And Politics        862
Hobbies And Interests         715
Science                       491
Travel                        471
Education                     400
Finance                       339
Pets                          209
Society                       121
Family And Parenting           98
Real Estate                    92
Adult                          63
Religion And Spirituality      30
Careers                        30
Name: Vertical, dtype: int64
total:  23

In [8]:
##DONOT RUN THIS###
import numpy as np
print('from' ,a)
for x in a:
    if(pd.isna(x) == 0):
        print('Running : ',x )
        print(x+'.csv')
        newval = mydata0[mydata0['Vertical'] == x].to_csv(x+'.csv')
        #csv file name to be read in
        in_csv = x+'.csv'

        #get the number of lines of the csv file to be read
        number_lines = sum(1 for row in (open(in_csv)))

        #size of rows of data to write to the csv,

        #you can change the row size according to your need
        rowsize = 5000

        #start looping through data writing it to a new file for each set
        for i in range(0,number_lines,rowsize):

            newdf = pd.read_csv(in_csv,
                  nrows = rowsize,#number of rows to read at each loop
                  skiprows = i)#skip rows that have been read

            #csv to write data to a new file with indexed name. input_1.csv etc.
            out_csv = x + str(i) + '.csv'

            newdf.to_csv(out_csv,
                  index=True,
                  header=False,
                  mode='a',#append data to csv file
                  chunksize=rowsize)#size of data to append for each l
        print('saved')

from ['Business And Industrial' nan 'Technology And Computing'
 'Art And Entertainment' 'Science' 'Law  Govt And Politics' 'Finance'
 'Travel' 'Health And Fitness' 'Education' 'Automotive And Vehicles'
 'Society' 'Family And Parenting' 'Sports' 'Hobbies And Interests'
 'Careers' 'Real Estate' 'Style And Fashion' 'Pets' 'Shopping'
 'Food And Drink' 'Religion And Spirituality' 'Adult' 'Home And Garden'
 'News']
trying :  Business And Industrial
Business And Industrial.csv
saved
trying :  Technology And Computing
Technology And Computing.csv
saved
trying :  Art And Entertainment
Art And Entertainment.csv
saved
trying :  Science
Science.csv
saved
trying :  Law  Govt And Politics
Law  Govt And Politics.csv
saved
trying :  Finance
Finance.csv
saved
trying :  Travel
Travel.csv
saved
trying :  Health And Fitness
Health And Fitness.csv
saved
trying :  Education
Education.csv
saved
trying :  Automotive And Vehicles
Automotive And Vehicles.csv
saved
trying :  Society
Society.csv
saved
trying :  Family And Parenting
Family And Parenting.csv
saved
trying :  Sports
Sports.csv
saved
trying :  Hobbies And Interests
Hobbies And Interests.csv
saved
trying :  Careers
Careers.csv
saved
trying :  Real Estate
Real Estate.csv
saved
trying :  Style And Fashion
Style And Fashion.csv
saved
trying :  Pets
Pets.csv
saved
trying :  Shopping
Shopping.csv
saved
trying :  Food And Drink
Food And Drink.csv
saved
trying :  Religion And Spirituality
Religion And Spirituality.csv
saved
trying :  Adult
Adult.csv
saved
trying :  Home And Garden
Home And Garden.csv
saved
trying :  News
News.csv
saved

In [12]:
import numpy as np
import csv
import sys
import os
print('from' ,a)
for x in a:
    if(pd.isna(x) == 0):
        print('Running : ',x )
        print(x+'.csv')
        newval = mydata0[mydata0['Vertical'] == x].to_csv(x+'.csv')
        filename = x+'.csv'

        rows_per_csv = 5000

        with open(filename) as infile:
            reader = csv.DictReader(infile)
            header = reader.fieldnames
            rows = [row for row in reader]
            pages = []

            row_count = len(rows)
            start_index = 0
            # here, we slice the total rows into pages, each page having [row_per_csv] rows
            while start_index < row_count:
                pages.append(rows[start_index: start_index+rows_per_csv])
                start_index += rows_per_csv

            for i, page in enumerate(pages):
                with open('{}_{}.csv'.format(x, i+1), 'w+') as outfile:
                    writer = csv.DictWriter(outfile, fieldnames=header)
                    writer.writeheader()
                    for row in page:
                        writer.writerow(row)

                print('DONE splitting {} into {} files'.format(x, len(pages)))
        print('saved')
        os.remove(x+'.csv')

from ['Business And Industrial' 'Technology And Computing' 'Style And Fashion'
 'Sports' 'Art And Entertainment' 'Home And Garden'
 'Automotive And Vehicles' 'Education' 'Food And Drink' 'Shopping' nan
 'Health And Fitness' 'Careers' 'Law  Govt And Politics' 'Science'
 'Hobbies And Interests' 'Travel' 'Religion And Spirituality' 'Finance'
 'Real Estate' 'Family And Parenting' 'Pets' 'Society' 'Adult']
trying :  Business And Industrial
Business And Industrial.csv
DONE splitting Business And Industrial into 2 files
DONE splitting Business And Industrial into 2 files
saved
trying :  Technology And Computing
Technology And Computing.csv
DONE splitting Technology And Computing into 1 files
saved
trying :  Style And Fashion
Style And Fashion.csv
DONE splitting Style And Fashion into 2 files
DONE splitting Style And Fashion into 2 files
saved
trying :  Sports
Sports.csv
DONE splitting Sports into 1 files
saved
trying :  Art And Entertainment
Art And Entertainment.csv
DONE splitting Art And Entertainment into 1 files
saved
trying :  Home And Garden
Home And Garden.csv
DONE splitting Home And Garden into 1 files
saved
trying :  Automotive And Vehicles
Automotive And Vehicles.csv
DONE splitting Automotive And Vehicles into 1 files
saved
trying :  Education
Education.csv
DONE splitting Education into 1 files
saved
trying :  Food And Drink
Food And Drink.csv
DONE splitting Food And Drink into 1 files
saved
trying :  Shopping
Shopping.csv
DONE splitting Shopping into 1 files
saved
trying :  Health And Fitness
Health And Fitness.csv
DONE splitting Health And Fitness into 1 files
saved
trying :  Careers
Careers.csv
DONE splitting Careers into 1 files
saved
trying :  Law  Govt And Politics
Law  Govt And Politics.csv
DONE splitting Law  Govt And Politics into 1 files
saved
trying :  Science
Science.csv
DONE splitting Science into 1 files
saved
trying :  Hobbies And Interests
Hobbies And Interests.csv
DONE splitting Hobbies And Interests into 1 files
saved
trying :  Travel
Travel.csv
DONE splitting Travel into 1 files
saved
trying :  Religion And Spirituality
Religion And Spirituality.csv
DONE splitting Religion And Spirituality into 1 files
saved
trying :  Finance
Finance.csv
DONE splitting Finance into 1 files
saved
trying :  Real Estate
Real Estate.csv
DONE splitting Real Estate into 1 files
saved
trying :  Family And Parenting
Family And Parenting.csv
DONE splitting Family And Parenting into 1 files
saved
trying :  Pets
Pets.csv
DONE splitting Pets into 1 files
saved
trying :  Society
Society.csv
DONE splitting Society into 1 files
saved
trying :  Adult
Adult.csv
DONE splitting Adult into 1 files
saved